@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georama", serif;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.preloader {
    height: 100vh;
    width: 100%;
    background: black;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    overflow: hidden;
    display: block;
}

#home {
    width:100%;
    position: relative;
    transition: all ease 1s;
    background: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 70px;
    transform: translateY(-100%);
    z-index: 999;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition: all 1s ease;
}

.nav-links li {
    list-style: none;
    border: none;
    padding: 5px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.nav-links li::before {
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 25px;
}

.nav-links li:hover::before {
    bottom: 0;
    border-radius: 0;
    transition: 0.8s;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}

.nav-links li a:hover {
    color: white;
}

.main-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.left-content h1 {
    font-size: 5.4vw;
    font-weight: 900;
    background: linear-gradient(150deg, #00BFFF, #FF69B4);
    background-clip: text;
    background-size: 130%;
    -webkit-text-fill-color: transparent;
    color: transparent;
    white-space: nowrap;
    animation: moveGradient 3s infinite linear;
}

.left-content h3 {
    font-size: 3.0vw;
    background: linear-gradient(150deg, #00BFFF, #FF69B4);
    background-clip: text;
    background-size: 130%;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    color: transparent;
    animation: moveGradient 3s infinite linear;
}

.left-content p {
    margin-top: 10px;
    font-size: 1.5vw;
    background: linear-gradient(150deg, #00BFFF, #FF69B4);
    background-clip: text;
    background-size: 130%;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    color: transparent;
    animation: moveGradient 3s infinite linear;
    margin-bottom: 20px;
}

@keyframes moveGradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.button-section {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding:15px;
    font-size: 1.8vw;
    font-weight: 900;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 9;
    text-decoration: none;
    transition: all ease 1s;
}

.butn {
    padding: 20px;
    border-radius: 10px;
    padding: 15px;
    font-size:1.8vw;
    font-weight: 900;
    display: flex;
    align-items: center;
    background: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 0.3s;
}

.butn:hover {
    background: black;
    color: white;
}

.right-content {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content img {
    width: 400px;
    border-radius: 30px;
    z-index: 999;
}

.circle-blur {
    position: absolute;
    right: -100px;
    top: 160px;
    height: 26vw;
    width: 36vw;
}

.circle1 {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    background-color: linear-gradient(#1E90FF, #8A2BE2);
}

.circle2 {
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background: linear-gradient(#8A2BE2, #1E90FF);
    filter: blur(20px);
    animation-name: blur;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 9;
}

.circle3 {
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    filter: blur(20px);
    background: linear-gradient(#8A2BE2, #1E90FF);
    animation-name: circle1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    z-index: 9;
}

@keyframes blur {
    from {
        transform: translate(40%, 15%);
    }

    to {
        transform: translate(-50%, -30%);
    }
}

@keyframes circle1 {
    from {
        transform: translate(10%, -30%);
    }

    to {
        transform: translate(-55%, -15%);
    }
}

#about {
    width:100%;
    position: relative;
    transition: all ease 1s;
    padding: 0 160px;
    background: white;
    margin-top: -30px;
}

#about h1 {
    font-size: 4.5rem;
    font-weight: 600;
    padding-top: 65px;
    text-align: center;
    background: linear-gradient(175deg, #00BFFF, #FF69B4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

.bio-text {
    height: auto;
    width: 100%;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    border-radius: 20px;
    line-height: 55px;
    font-size: 1.8rem;
    position: relative;
    padding: 20px;
    border: 3px dashed #8A2BE2;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}


#experience {
    width: 100%;
    position: relative;
    background: white;
    border-top: 2px solid black;
}

.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 99;
    gap: 30px;
}

.container::-webkit-scrollbar {
    display: none;
}

.content {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.container h1 {
    font-size: 6.0vw;
    color: black;
    display: inline-block;

}

.dot {
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    display: inline-block;
}

#experience h2 {
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(175deg, #00BFFF, #FF69B4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    background: rgb(255, 255, 255);
    margin-top: 30px;
    padding: 0 160px;
}

.exp1 {
    flex-basis: 500px;
    padding: 30px;
    text-align: center;
    display: block;
    justify-content: center;
    border: 3px dashed #8A2BE2;
    border-radius: 10px;
    margin-bottom: 30px;
}

.exp1 h1 {
    color: rgb(0, 0, 0);
}

.exp1 p {
    font-size: 1.2rem;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 100%;
}

.btns a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.exp1 a {
    padding:15px;
    font-size: 1.0rem;
    background: rgb(0, 0, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}

footer {
    width:100%;
    position: relative;
    display: flex;  
    border-top: 2px solid black;
    padding: 50px;
}

.footer-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

.footer-main-content {
    display: block;
    margin-top: 50px;
    margin: auto;
    color: white;
    width: 400px;
}

.footer-main-content h5 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
}

.footer-main-content h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.9rem;
}

.footer-main-content h6{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
}

.footer-main-content h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.9rem;
}

.footer-main-content h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.9rem;
}

.footer-main-content h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    border: 3px dashed #8A2BE2;
    color: black;
}

.footer-content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
}

.contact-details{
    display: flex;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0); 
    border: 3px dashed #8A2BE2;  
}

.contact-details a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: left;
    gap:20px;
    width:100%;
}

.contact-details i{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    color:black;
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

.details-content{
    display: block;
    padding:25px;
}


@media(max-width:1000px) {
    .right-content img {
        width: 300px;
        border-radius: 30px;
        z-index: 999;
    }
}

@media(max-width:800px) {
    .right-content img {
        width: 250px;
        border-radius: 30px;
        z-index: 999;
    }

    #about {
        padding: 0 90px;
    }

}

@media(max-width:784px) {

    .bio-text {
        font-size: 1.2rem;
        line-height: 2;
    }

    .languages img {
        width: 300px;
    }

    .dot {
        height: 20px;
        width: 20px;
    }

    .exp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        background: rgb(255, 255, 255);
        margin-top: 30px;
        padding: 0 70px;
    }
}


@media(max-width:600px) {


    #about h1 {
        font-size: 3.0rem;
    }

    #about {
        padding: 0 50px;
    }

    .exp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: rgb(255, 255, 255);
        margin-top: 30px;
        padding: 0 70px;
    }

    .btn {
        padding:10px 20px;
        font-size: 2.1vw;
    }

    .butn {
        padding: 10px 10px; 
        font-size: 2.1vw;
    }

    .left-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        padding-left:20px;
    }

    .right-content {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .button-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #experience h2 {
        font-size: 3.0rem;
    }

    footer {
        width: 100%;
        position: relative;
        display: flex;
        border-top: 2px solid black;
        padding: 20px;
    }
    
}

@media (max-width:500px) {
    .left-content h1 {
        font-size: 2.0rem;
    }

    .left-content p {
        margin-top: 10px;
        font-size: 0.8rem;
    }

    #about {
        width: 100%;
        position: relative;
        transition: all ease 1s;
        padding: 0 20px;
        background: white;
        margin-top: -30px;
    }

    .exp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: rgb(255, 255, 255);
        margin-top: 30px;
        padding: 0 20px;
    }
}

@media (max-width:450px) {
    .right-content img {
        width: 200px;
        border-radius: 30px;
        z-index: 999;
    }

    .left-content h1 {
        font-size: 1.7rem;
    }

    .button-section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 70px;
        transform: translateY(-100%);
        z-index: 999;
    }


    
    .exp1 a {
        padding: 10px;
        font-size: 0.9rem;
    }
}

@media (max-width:360px) {
    .left-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        padding-left: 40px;
    }

    .btn {
        padding:10px 20px;
        font-size: 0.7rem;
    }

    .butn {
        padding: 10px 10px; 
        font-size: 0.7rem;
    }

    .bio-text h4{
        font-size: 0.9rem;
    }
    
    .container {
        padding:20px;
    }

    .content h1{
        font-size: 2.5rem;
    }

    .languages img {
        width:200px;
    }

    .left-content h1 {
        font-size: 1.5rem;
        z-index:9999;
    }

    .footer-content img {
        width: 40px;
        height: 30px;
        margin-right: 10px;
        background: white;
        padding: 5px;
        border-radius: 10px;
    }

    .right-content img {
        width: 200px;
        border-radius: 30px;
        z-index: 9;
    }

    .main-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: -50px;
    }
}